.navbar-container {
  background-color: #00712d;
}
.navbar-page-links-item {
  text-decoration: none;
  color: white;
}

.footer-container {
  background-color: #00712d;
  color: white;
}

.footer-container a {
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
